[type=radio] {
  vertical-align: middle;
  appearance: none;
  border: 1px solid #eeeeee;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  margin-right: 8px;
  font-size: 14px;
  background-color: #ffffff;
  padding: 0;
}

[type=radio]:checked {
  background: url("image/check.svg");
  border: 0;
}

[type=radio]:hover {
  cursor: pointer;
}

[type=radio]:disabled + span {
  opacity: 0.7;
  cursor: not-allowed;
}

[type=checkbox] {
  vertical-align: middle;
  appearance: none;
  border: 1px solid #eeeeee;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  margin-right: 8px;
  font-size: 14px;
  background-color: #ffffff;
  padding: 0;
  transform: translateY(-2px);
}

[type=checkbox]:checked {
  background: url("image/check.svg");
  border: 0;
}

[type=checkbox]:hover {
  cursor: pointer;
}

[type=checkbox]:disabled + span {
  opacity: 0.7;
  cursor: not-allowed;
}

.container .content-wrap.business {
  width: 1060px;
}
.container .content-wrap.business .work-wrap {
  padding: 40px 60px 24px 60px;
  border: 1px solid #eeeeee;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.04);
  border-radius: 16px;
  margin-bottom: 50px;
}
.container .content-wrap.business .work-wrap.project-work-wrap {
  height: 720px;
}
.container .content-wrap.business .work-wrap .work-situation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 12px 0;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
.container .content-wrap.business .work-wrap .work-situation > span {
  margin-right: 16px;
  font-size: 14px;
  color: #585858;
}
.container .content-wrap.business .work-wrap .work-situation .work-bg {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 6px 10px;
  background-color: #eeeefa;
  border-radius: 8px;
  margin-right: 16px;
  cursor: pointer;
}
.container .content-wrap.business .work-wrap .work-situation .work-bg:last-child {
  margin-right: 0;
}
.container .content-wrap.business .work-wrap .project-wrap,
.container .content-wrap.business .work-wrap .content,
.container .content-wrap.business .work-wrap .progress {
  padding: 12px 0;
  border-bottom: 1px solid #eeeeee;
}
.container .content-wrap.business .work-wrap .project-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.container .content-wrap.business .work-wrap .project-wrap.board-head > .project-list {
  padding-left: 8px;
}
.container .content-wrap.business .work-wrap .project-wrap > div {
  width: calc(33.3333333333% - 14px);
  position: relative;
  margin-right: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.container .content-wrap.business .work-wrap .project-wrap > div.project-list {
  margin-right: 16px;
}
.container .content-wrap.business .work-wrap .project-wrap > div.project-list > .selectBox {
  position: relative;
}
.container .content-wrap.business .work-wrap .project-wrap > div.project-list > .selectBox > .selectVal {
  width: 100%;
}
.container .content-wrap.business .work-wrap .project-wrap > div.project-list > .selectBox > .selectOptGroup {
  top: 30px;
  left: 15px;
  width: 175px;
}
.container .content-wrap.business .work-wrap .project-wrap > div.project-list > .selectBox > .selectOptGroup > div.active {
  color: #5850cc;
}
.container .content-wrap.business .work-wrap .project-wrap > div.project-list > .selectBox > .selectOptGroup > div:hover {
  color: #5850cc;
}
.container .content-wrap.business .work-wrap .project-wrap > div::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 1px;
  height: 36px;
  background-color: #eeeeee;
}
.container .content-wrap.business .work-wrap .project-wrap > div:last-child {
  margin-right: 0;
}
.container .content-wrap.business .work-wrap .project-wrap > div:last-child::after {
  display: none;
}
.container .content-wrap.business .work-wrap .project-wrap > div > span {
  margin-right: 16px;
  font-size: 14px;
  color: #585858;
}
.container .content-wrap.business .work-wrap .project-wrap > div > span.pro {
  margin-right: 10px;
}
.container .content-wrap.business .work-wrap .project-wrap > div > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  border-radius: 8px;
  width: 175px;
  padding: 6px 0 6px 12px;
  background-color: #eeeefa;
  font-size: 14px;
}
.container .content-wrap.business .work-wrap .project-wrap.title {
  width: 100%;
  padding-left: 10px;
}
.container .content-wrap.business .work-wrap .project-wrap.title > span {
  font-size: 14px;
  color: #585858;
  margin-right: 21px;
  margin-left: 6px;
}
.container .content-wrap.business .work-wrap .project-wrap.title > .title-input-wrap {
  width: 782px;
}
.container .content-wrap.business .work-wrap .project-wrap.title > .title-input-wrap > .input-read {
  width: 100%;
}
.container .content-wrap.business .work-wrap .project-wrap.title > .title-input-wrap label input {
  width: 782px;
  background-color: #eeeefa;
  padding: 6px 0 6px 12px;
  border-radius: 8px;
  border: 1px solid transparent;
}
.container .content-wrap.business .work-wrap .project-wrap.title > .title-input-wrap label input:focus {
  border: 1px solid #5850cc;
}
.container .content-wrap.business .work-wrap .content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 12px 0;
}
.container .content-wrap.business .work-wrap .content > .title,
.container .content-wrap.business .work-wrap .content .content-text {
  width: 50%;
  padding-left: 16px;
}
.container .content-wrap.business .work-wrap .content > .title input,
.container .content-wrap.business .work-wrap .content .content-text input {
  width: 314px;
  margin-left: 25px;
  border-radius: 8px;
  background-color: #eeeefa;
  padding: 6px 0 6px 16px;
}
.container .content-wrap.business .work-wrap .content > .title > label > span,
.container .content-wrap.business .work-wrap .content .content-text > label > span {
  font-size: 14px;
  color: #585858;
}
.container .content-wrap.business .work-wrap .content > .title {
  position: relative;
}
.container .content-wrap.business .work-wrap .content > .title::after {
  content: "";
  position: absolute;
  width: 1px;
  right: -6px;
  height: 36px;
  background-color: #eeeeee;
}
.container .content-wrap.business .work-wrap .content.edit {
  padding: 20px 0;
  height: 430px;
}
.container .content-wrap.business .work-wrap .content.edit .quill {
  width: 100%;
  height: 430px;
}
.container .content-wrap.business .work-wrap .content.edit .quill > .ql-container {
  height: 346px;
}
.container .content-wrap.business .work-wrap .progress {
  margin-bottom: 24px;
}
.container .content-wrap.business .work-wrap .progress > span {
  font-size: 14px;
  color: #585858;
  margin-right: 16px;
}
.container .content-wrap.business .work-wrap .progress > label {
  padding: 6px 10px;
  background-color: #eeeefa;
  border-radius: 8px;
  margin-right: 16px;
  transform: translateY(-5px);
  cursor: pointer;
}
.container .content-wrap.business .work-wrap .work-btn-wrap {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
}
.container .content-wrap.business .work-wrap .work-btn-wrap .search-option {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: absolute;
}
.container .content-wrap.business .work-wrap .work-btn-wrap .search-option .commonBtn.search {
  margin-right: 24px;
  background-color: #858585;
  color: #ffffff;
}
.container .content-wrap.business .work-wrap .work-btn-wrap .search-option .commonBtn.clear {
  border: 1px solid #858585;
  color: #858585;
  background-color: #ffffff;
}
.container .content-wrap.business .work-wrap .work-btn-wrap .commonBtn.create {
  margin-left: auto;
  cursor: pointer;
}
.container .content-wrap.business .work-table-wrap .check-work-head-wrap {
  margin-bottom: 38px;
}
.container .content-wrap.business .work-table-wrap .check-work-head-wrap .check-work-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  border: 1px solid #5850cc;
  padding: 0 20px;
  border-radius: 20px;
  width: 201px;
  height: 43px;
}
.container .content-wrap.business .work-table-wrap .check-work-head-wrap .check-work-title h4 {
  font-family: "NotoSansR";
  font-size: 16px;
  color: #5850cc;
}
.container .content-wrap.business .work-table-wrap .check-work-head-wrap .check-work-title .rect-num {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  font-family: "NotoSansM";
  width: 43px;
  height: 23px;
  color: #ffffff;
  background-color: #5850cc;
  border-radius: 16px;
}
.container .content-wrap.business .work-table-wrap .check-work-wrap .check-tab-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  position: relative;
  z-index: 1;
  top: 1px;
}
.container .content-wrap.business .work-table-wrap .check-work-wrap .check-tab-list > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 24px;
  width: 206px;
  height: 48px;
  border: 1px solid #eeeeee;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  margin-right: 8px;
  border-bottom: 1px solid #f5f5f5;
  background: #f5f5f5;
  cursor: pointer;
}
.container .content-wrap.business .work-table-wrap .check-work-wrap .check-tab-list > div.active {
  color: #5850cc;
  background-color: #ffffff;
  border-bottom: 1px solid #ffffff;
}
.container .content-wrap.business .work-table-wrap .check-work-wrap .check-tab-list > div .num {
  display: none;
}
.container .content-wrap.business .work-table-wrap .check-work-wrap .check-tab-list > div .num.active {
  display: block;
  width: 40px;
  height: 20px;
  background-color: #5850cc;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  color: #ffffff;
  border-radius: 16px;
  line-height: 20px;
}
.container .content-wrap.business .work-table-wrap .check-work-wrap .check-tab-list > div span {
  color: #585858;
  font-size: 16px;
}
.container .content-wrap.business .work-table-wrap .check-work-wrap .check-tab-list > div span.active {
  color: #5850cc;
}
.container .content-wrap.business .work-table-wrap .check-work-wrap .check-tab-list > .all-check {
  margin-right: 0;
}
.container .content-wrap.business .work-table-wrap .check-work-wrap .table {
  position: relative;
  z-index: 0;
  padding: 19px 16px 20px 16px;
  background-color: #ffffff;
  border: 1px solid #eeeeee;
  border-radius: 8px;
  margin-bottom: 56px;
}
.container .content-wrap.business .work-table-wrap .check-work-wrap .table > div {
  background-color: #eeeefa;
  border-radius: 8px;
}
.container .content-wrap.business .work-table-wrap .check-work-wrap .table > div table {
  width: 100%;
  border-collapse: collapse;
  border-style: hidden;
}
.container .content-wrap.business .work-table-wrap .check-work-wrap .table > div table thead th {
  padding: 10px 24px;
  color: #585858;
  font-size: 14px;
}
.container .content-wrap.business .work-table-wrap .check-work-wrap .table > div table tbody tr {
  background-color: #fcfcfc;
}
.container .content-wrap.business .work-table-wrap .check-work-wrap .table > div table tbody tr:nth-child(2n) {
  background-color: #f8f8fd;
}
.container .content-wrap.business .work-table-wrap .check-work-wrap .table > div table tbody tr td {
  text-align: center;
  padding: 18px 0;
  font-size: 14px;
}

.container .content-wrap.personnel {
  width: 1060px;
}
.container .content-wrap .department-manage-wrap > .head,
.container .content-wrap .member-manage-wrap > .head {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  position: relative;
}
.container .content-wrap .department-manage-wrap > .head .rect,
.container .content-wrap .member-manage-wrap > .head .rect {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 99px;
  height: 41px;
  color: #5850cc;
  border: 1px solid #5850cc;
  font-size: 16px;
  font-family: "NotoSansR";
  border-radius: 20px;
  position: relative;
}
.container .content-wrap .department-manage-wrap > .head .line,
.container .content-wrap .member-manage-wrap > .head .line {
  width: calc(100% - 99px);
  height: 1px;
  background-color: #eeeeee;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  z-index: 1;
}
.container .content-wrap .department-manage-wrap > .card-wrap {
  padding: 58px 0 52px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.container .content-wrap .department-manage-wrap > .card-wrap .card {
  margin: 0 25px 25px 0;
  cursor: pointer;
  width: calc(33.3333333333% - 18px);
  height: 97px;
  border: 1px solid #eeeeee;
  border-radius: 16px;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.04);
}
.container .content-wrap .department-manage-wrap > .card-wrap .card:nth-child(3n) {
  margin-right: 0;
}
.container .content-wrap .department-manage-wrap > .card-wrap .card .date-num {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #eeeefa;
  padding: 12px 24px 10px 24px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}
.container .content-wrap .department-manage-wrap > .card-wrap .card .team {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 16px 24px;
}
.container .content-wrap .department-manage-wrap .page-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 47px;
  margin-bottom: 40px;
}
.container .content-wrap .department-manage-wrap .page-wrap .pagination {
  margin-bottom: 0;
}
.container .content-wrap .department-manage-wrap .page-wrap > .commonBtn {
  position: absolute;
  right: 0;
}
.container .content-wrap .member-manage-wrap .head {
  margin-bottom: 40px;
}
.container .content-wrap .member-manage-wrap .page-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 47px;
  margin-bottom: 40px;
}
.container .content-wrap .member-manage-wrap .page-wrap > .pagination {
  margin-bottom: 0px;
}
.container .content-wrap .member-manage-wrap .page-wrap > .commonBtn {
  position: absolute;
  right: 0;
}
.container .content-wrap .member-manage-wrap > .table {
  position: relative;
  z-index: 0;
  padding: 19px 16px 20px 16px;
  background-color: #ffffff;
  border: 1px solid #eeeeee;
  border-radius: 8px;
  margin-bottom: 56px;
}
.container .content-wrap .member-manage-wrap > .table > div {
  background-color: #eeeefa;
  border-radius: 8px;
}
.container .content-wrap .member-manage-wrap > .table > div table {
  width: 100%;
  border-collapse: collapse;
  border-style: hidden;
}
.container .content-wrap .member-manage-wrap > .table > div table thead th {
  padding: 10px 24px;
  color: #585858;
  font-size: 14px;
}
.container .content-wrap .member-manage-wrap > .table > div table tbody tr {
  background-color: #fcfcfc;
}
.container .content-wrap .member-manage-wrap > .table > div table tbody tr:nth-child(2n) {
  background-color: #f8f8fd;
}
.container .content-wrap .member-manage-wrap > .table > div table tbody tr td {
  text-align: center;
  padding: 18px 0;
  font-size: 14px;
}
.container .content-wrap.member {
  width: 1060px;
}
.container .content-wrap.member .member-wrap {
  padding: 40px 60px 24px 60px;
  border: 1px solid #eeeeee;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.04);
  border-radius: 16px;
  margin-bottom: 50px;
}
.container .content-wrap.member .member-wrap > .id-line {
  width: 860px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  padding: 12px 0;
}
.container .content-wrap.member .member-wrap > .id-line > div {
  width: 320px;
  position: relative;
}
.container .content-wrap.member .member-wrap > .id-line > div::after {
  content: "";
  position: absolute;
  right: 0;
  width: 1px;
  height: 32px;
  background-color: #eeeeee;
}
.container .content-wrap.member .member-wrap > .id-line > div span {
  font-family: "NotoSansR";
  font-size: 14px;
  color: #585858;
  margin-right: 23px;
}
.container .content-wrap.member .member-wrap > .id-line > div > input {
  background-color: #eeeefa;
  border-radius: 8px;
  padding: 6px 0 6px 12px;
  width: 236px;
  height: 32px;
}
.container .content-wrap.member .member-wrap > .id-line > div.name {
  width: 264px;
  padding-left: 16px;
}
.container .content-wrap.member .member-wrap > .id-line > div.name span {
  margin-right: 16px;
}
.container .content-wrap.member .member-wrap > .id-line > div.name input {
  width: 190px;
}
.container .content-wrap.member .member-wrap > .id-line > div:first-child span {
  padding-left: 5px;
}
.container .content-wrap.member .member-wrap > .id-line .gender-wrap {
  width: 274px;
  height: 32px;
  padding-left: 29px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.container .content-wrap.member .member-wrap > .id-line .gender-wrap::after {
  display: none;
}
.container .content-wrap.member .member-wrap > .id-line .gender-wrap .gender-input-wrap {
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.container .content-wrap.member .member-wrap > .id-line .gender-wrap .gender-input-wrap > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 6px 6px 6px 10px;
  background-color: #eeeefa;
  border-radius: 8px;
  margin-right: 16px;
}
.container .content-wrap.member .member-wrap > .id-line .gender-wrap .gender-input-wrap > div:last-child {
  margin-right: 0;
}
.container .content-wrap.member .member-wrap > .id-line .gender-wrap .gender-input-wrap > div span {
  margin-right: 0;
}
.container .content-wrap.member .member-wrap > .id-line .gender-wrap span {
  margin-right: 29px;
}
.container .content-wrap.member .member-wrap .date-line {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 12px 0;
  border-bottom: 1px solid #eeeeee;
}
.container .content-wrap.member .member-wrap .date-line > div {
  height: 32px;
  position: relative;
}
.container .content-wrap.member .member-wrap .date-line > div::after {
  content: "";
  position: absolute;
  right: 0;
  width: 1px;
  height: 32px;
  background-color: #eeeeee;
}
.container .content-wrap.member .member-wrap .date-line > div > span {
  font-family: "NotoSansR";
  font-size: 14px;
  color: #585858;
}
.container .content-wrap.member .member-wrap .date-line > div.birth-date {
  width: 320px;
}
.container .content-wrap.member .member-wrap .date-line > div.birth-date span {
  margin-right: 16px;
}
.container .content-wrap.member .member-wrap .date-line > div.birth-date input {
  background-color: #eeeefa;
  padding: 6px 12px 6px 12px;
  width: 236px;
  height: 32px;
  border-radius: 8px;
}
.container .content-wrap.member .member-wrap .date-line > div.affiliation {
  width: 264px;
  padding-left: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.container .content-wrap.member .member-wrap .date-line > div.affiliation span {
  margin-right: 16px;
}
.container .content-wrap.member .member-wrap .date-line > div.affiliation > .selectBox {
  width: 190px;
}
.container .content-wrap.member .member-wrap .date-line > div.password {
  width: 274px;
}
.container .content-wrap.member .member-wrap .date-line > div.password::after {
  display: none;
}
.container .content-wrap.member .member-wrap .date-line > div.password span {
  padding-left: 16px;
  margin-right: 16px;
}
.container .content-wrap.member .member-wrap .date-line > div.password input {
  background-color: #eeeefa;
  padding: 6px 6px 6px 6px;
  border-radius: 8px;
  height: 32px;
}
.container .content-wrap.member .member-wrap .phone-line {
  width: 860px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 12px 0;
  border-bottom: 1px solid #eeeeee;
}
.container .content-wrap.member .member-wrap .phone-line > div {
  width: 442px;
  position: relative;
}
.container .content-wrap.member .member-wrap .phone-line > div::after {
  content: "";
  position: absolute;
  right: 0;
  width: 1px;
  height: 32px;
  background-color: #eeeeee;
}
.container .content-wrap.member .member-wrap .phone-line > div span {
  font-family: "NotoSansR";
  font-size: 14px;
  color: #585858;
  margin-right: 16px;
}
.container .content-wrap.member .member-wrap .phone-line > div input {
  background-color: #eeeefa;
  padding: 6px 6px 6px 6px;
  border-radius: 8px;
  height: 32px;
  width: 358px;
}
.container .content-wrap.member .member-wrap .phone-line > div:last-child {
  width: 417px;
}
.container .content-wrap.member .member-wrap .phone-line > div:last-child::after {
  display: none;
}
.container .content-wrap.member .member-wrap .phone-line > div:last-child span {
  margin-right: 4px;
  padding-left: 15px;
}
.container .content-wrap.member .member-wrap .address-line {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 12px 0;
}
.container .content-wrap.member .member-wrap .address-line span {
  font-family: "NotoSansR";
  font-size: 14px;
  color: #585858;
  margin-right: 29px;
  padding-left: 12px;
}
.container .content-wrap.member .member-wrap .address-line input {
  background-color: #eeeefa;
  padding: 6px 6px 6px 12px;
  border-radius: 8px;
  height: 32px;
  width: 501px;
  margin-right: 16px;
}
.container .content-wrap.member .member-wrap .address-line > .commonBtn {
  background-color: #ffffff;
  border: 1px solid #5850cc;
  color: #5850cc;
  padding: 6px 12px;
  font-family: "NotoSansR";
  font-size: 14px;
}

.popup-bg {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}
.popup-bg > .popup {
  width: 437px;
  height: 262px;
  border-radius: 16px;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-45%, -50%);
}
.popup-bg > .popup > .head {
  padding: 16px 0 16px 24px;
  color: #858585;
  font-family: "NotoSansR";
  background-color: #eeeefa;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}
.popup-bg > .popup > .content-wrap {
  margin-top: 40px;
}
.popup-bg > .popup > .content-wrap .content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
.popup-bg > .popup > .content-wrap .content > label span {
  margin-right: 16px;
  font-size: 14px;
  font-family: "NotoSansR";
  color: #585858;
}
.popup-bg > .popup > .content-wrap .content > label input {
  width: 296px;
  height: 48px;
  background-color: #eeeefa;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 14px 0 14px 13px;
}
.popup-bg > .popup > .content-wrap .content > label input:focus {
  border: 1px solid #5850cc;
}
.popup-bg > .popup > .content-wrap .btn-wrap {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}
.popup-bg > .popup > .content-wrap .btn-wrap .commonBtn {
  margin-right: 24px;
}
.popup-bg > .popup > .content-wrap .btn-wrap .commonBtn.close {
  margin-right: 0;
  background-color: #858585;
}
.popup-bg > .popup > .content-wrap .btn-wrap .commonBtn.delete {
  border: 1px solid #858585;
  color: #858585;
  background-color: #ffffff;
}