.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.selectBox {
  border: 1px solid #eeeeee;
  color: #858585;
  width: 300px;
  background-color: #eeeefa;
  padding: 4px 16px;
  border-radius: 8px;
}
.selectBox.on {
  border: 1px solid #5850cc;
}
.selectBox .selectVal {
  cursor: pointer;
  font-size: 14px;
  color: #15171a;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.selectBox .selectOptGroup {
  z-index: 2;
  position: absolute;
  background-color: white;
  border: 1px solid #5850cc;
  width: 300px;
  max-height: 300px;
  overflow-y: auto;
  transform: translateX(-16px) translateY(12px);
  border-radius: 8px;
}
.selectBox .selectOptGroup > .selectOpt {
  cursor: pointer;
  font-size: 14px;
  padding: 11px 16px;
}
.selectBox .selectOptGroup > .selectOpt:hover {
  color: #15171a;
  background-color: #eeeefa;
}
.selectBox .selectOptGroup > .selectOpt.active {
  color: #15171a;
}
.selectBox .selectOptGroup > .selectOpt.active::before {
  content: "";
  border-left: 3px solid #5850cc;
  margin-right: 16px;
}

.alert-modal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 5;
  background-color: rgba(21, 23, 26, 0.3);
  width: 100vw;
  height: 100vh;
}
.alert-modal .modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  border-radius: 16px;
  background-color: white;
  width: 500px;
  min-height: 195px;
}
.alert-modal .modal .alertContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  width: 100%;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  min-height: 136px;
  padding: 30px 0;
}
.alert-modal .modal .alertContent .head {
  font-size: 22px;
  margin-bottom: 15px;
}
.alert-modal .modal .btn-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  background-color: #eeeefa;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  height: 59px;
}
.alert-modal .modal .btn-wrap button {
  width: 50%;
  height: 100%;
}

.commonBtn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 16px;
  color: #ffffff;
  background-color: #5850cc;
  border-radius: 8px;
  line-height: 23.17px;
  padding: 8px 28px;
}

.container {
  position: relative;
  max-width: 100vw;
  min-height: 100vh;
  height: auto;
  background-color: white;
}
.container .content-wrap {
  padding: 80px 0 0 80px;
  border-top-left-radius: 28px;
  position: absolute;
  left: 300px;
  top: 0;
  width: 980px;
  background-color: #ffffff;
  min-height: 100vh;
}
.container .content-wrap > .header {
  width: fit-content;
  border-bottom: 2px solid #5b84e3;
  text-align: center;
  margin-bottom: 29px;
  cursor: pointer;
}
.container .content-wrap > .header h3 {
  font-size: 22px;
  color: #15171a;
  padding-bottom: 8px;
}
.container .content-wrap .board-wrap {
  width: 978px;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.04);
  min-height: 447px;
  margin-bottom: 56px;
}
.container .content-wrap .board-wrap > .header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  height: 60px;
  padding-left: 60px;
  background-color: #eeeefa;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}
.container .content-wrap .board-wrap > .body-wrap {
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  padding: 24px 57px 5px 60px;
  min-height: 447px;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.04);
}
.container .content-wrap .board-wrap > .body-wrap .writer,
.container .content-wrap .board-wrap > .body-wrap .date,
.container .content-wrap .board-wrap > .body-wrap .title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  height: 32px;
}
.container .content-wrap .board-wrap > .body-wrap .writer > span,
.container .content-wrap .board-wrap > .body-wrap .date > span,
.container .content-wrap .board-wrap > .body-wrap .title > span {
  margin-right: 13px;
  font-size: 14px;
}
.container .content-wrap .board-wrap > .body-wrap .writer > div,
.container .content-wrap .board-wrap > .body-wrap .date > div,
.container .content-wrap .board-wrap > .body-wrap .title > div {
  width: 805px;
  height: 32px;
  line-height: 32px;
  border-radius: 8px;
  padding-left: 16px;
  background-color: #eeeefa;
}
.container .content-wrap .board-wrap > .body-wrap .writer {
  margin-bottom: 24px;
}
.container .content-wrap .board-wrap > .body-wrap .date {
  margin-bottom: 24px;
}
.container .content-wrap .board-wrap > .body-wrap .title {
  margin-bottom: 24px;
}
.container .content-wrap .board-wrap > .body-wrap .title > span {
  margin-right: 25px;
}
.container .content-wrap .board-wrap > .body-wrap .title .title-input {
  width: 95%;
  background-color: #eeeefa;
}
.container .content-wrap .board-wrap > .body-wrap .line {
  width: 861px;
  height: 1px;
  background-color: #cdcdcd;
  margin: 24px 0;
}
.container .content-wrap .board-wrap > .body-wrap .content {
  overflow-y: auto;
  height: 430px;
  padding: 0 10px;
  white-space: normal;
}
.container .content-wrap .board-wrap > .body-wrap .content .quill {
  width: 100%;
  height: 370px;
  max-height: 400px;
}
.container .content-wrap .board-wrap > .body-wrap .content > p {
  word-wrap: break-word;
}
.container .content-wrap .board-wrap > .body-wrap .content > p.ql-align-center {
  text-align: center;
}
.container .content-wrap .board-wrap > .body-wrap .content > p.ql-align-right {
  text-align: right;
}
.container .content-wrap .board-wrap > .body-wrap .content > blockquote::before {
  content: "";
  border-left: 5px solid #5850cc;
  margin-right: 10px;
}
.container .content-wrap .list-wrap .btn-wrap {
  margin-bottom: 0;
}
.container .content-wrap .btn-wrap {
  width: 978px;
  margin-bottom: 120px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.container .content-wrap .btn-wrap > button {
  margin-left: 24px;
}
.container .content-wrap .btn-wrap > button.delete {
  background-color: transparent;
  color: #858585;
  border: 1px solid #858585;
}
.container .content-wrap .btn-wrap > button.applyBtn {
  background-color: #5850cc;
}
.container .content-wrap .btn-wrap > button.list {
  background-color: #858585;
}
.container .content-wrap > .search-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 980px;
  margin-bottom: 36px;
  user-select: none;
}
.container .content-wrap > .search-wrap .search {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 42px;
  border-radius: 8px;
}
.container .content-wrap > .search-wrap .search .selectBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  border: 1px solid #f5f5f5;
  transform: translateY(-2px);
  margin-right: 4px;
  background-color: white;
  width: 100px;
  height: 42px;
  padding: 0 8px 0 16px;
}
.container .content-wrap > .search-wrap .search .selectBox.on {
  border: 1px solid #5850cc;
}
.container .content-wrap > .search-wrap .search .selectBox > .selectVal {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.container .content-wrap > .search-wrap .search .selectBox > .selectOptGroup {
  position: absolute;
  transform: translateX(-4px) translateY(60px);
  width: 100px;
  height: auto;
  overflow: hidden;
}
.container .content-wrap > .search-wrap .search .selectBox > .selectOptGroup .selectOpt:hover {
  color: #5850cc;
  border-radius: 0;
}
.container .content-wrap > .search-wrap .search .selectOptGroup {
  position: absolute;
  transform: translateY(8px);
  color: #585858;
  border: 1px solid #5850cc;
  border-radius: 8px;
}
.container .content-wrap > .search-wrap .search .selectOptGroup > .selectOpt {
  font-size: 12px;
  color: #585858;
  width: 100px;
  border-radius: 8px;
  padding: 9px 13px;
  background-color: white;
  cursor: pointer;
  transition: all 0.1s;
}
.container .content-wrap > .search-wrap .search .selectOptGroup > .selectOpt:hover {
  transition: all 0.1s;
  background-color: #eeeefa;
}
.container .content-wrap > .search-wrap .search input {
  font-size: 14px;
  color: #858585;
  transform: translateY(-2px);
  padding: 0 16px;
  width: 220px;
  height: 42px;
  border: 1px solid #f5f5f5;
  transition: all 0.2s;
  border-radius: 8px;
  color: #15171a;
}
.container .content-wrap > .search-wrap .search input::placeholder {
  color: #15171a;
}
.container .content-wrap > .search-wrap .search input:focus {
  border: 1px solid #5850cc;
  transition: all 0.2s;
}
.container .content-wrap > .search-wrap .search button {
  position: absolute;
  transform: translateX(140px);
  width: 42px;
  height: 42px;
}
.container .content-wrap > .search-wrap .search button > img {
  width: 24px;
  height: 24px;
}

.pagination {
  margin-bottom: 100px;
}
.pagination > li {
  font-size: 18px;
  color: #cdcdcd;
  width: 24px;
  height: 24px;
  cursor: pointer;
  user-select: none;
  text-align: center;
}
.pagination > li.now {
  color: #15171a;
}
.pagination > li.block {
  cursor: default;
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 328px;
  background-color: #eeeefa;
  padding: 130px 0 0 40px;
}
.sidebar > ul > li {
  font-size: 18px;
  color: #858585;
  cursor: pointer;
  font-family: "NotoSansR";
  margin-bottom: 30px;
}
.sidebar > ul > li a {
  font-size: 18px;
  color: #858585;
}
.sidebar > ul > li.active {
  color: #15171a;
  font-family: "NotoSansM";
}
.sidebar .tools {
  position: absolute;
  bottom: 40px;
  background-color: white;
  width: 220px;
  border-radius: 16px;
}
.sidebar .tools > div {
  cursor: pointer;
  width: 100%;
  text-align: left;
  padding: 12px 16px;
  border-bottom: 1px solid #eeeeee;
}
.sidebar .tools > div.help {
  color: #858585;
}
.sidebar .tools > div.logoutBtn {
  color: #df0000;
}
.sidebar .tools > div.row {
  justify-content: space-between;
}
.sidebar .tools > div.row .user {
  color: #585858;
}
.sidebar .tools > div.row .user img {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  overflow: hidden;
  margin-right: 8px;
}

.list-wrap {
  width: 1140px;
}
.list-wrap .noneList {
  padding: 100px 0;
}
.list-wrap .noneList img {
  width: 370px;
  margin-bottom: 60px;
}
.list-wrap .noneList span {
  color: #cdcdcd;
}
.list-wrap ul {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 980px;
  height: 586px;
}
.list-wrap ul li {
  cursor: pointer;
  padding: 26px 24px;
  width: 310px;
  height: 170px;
  margin: 0 25px 38px 0;
  border-radius: 16px;
  border: 1px solid #eeeeee;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.04);
}
.list-wrap ul li .postInfo {
  width: 100%;
  justify-content: space-between;
  margin-bottom: 16px;
}
.list-wrap ul li .postInfo .date {
  font-size: 12px;
  color: #858585;
}
.list-wrap ul li .postInfo .alertNew {
  font-size: 10px;
  color: white;
  border-radius: 8px;
  padding: 2px 11px;
  background-color: #5b84e3;
}
.list-wrap ul li .postTitle {
  margin-bottom: 40px;
}
.list-wrap ul li > hr {
  width: 310px;
  transform: translateX(-24px);
  height: 1px;
  border: 0;
  background: #f5f5f5;
}
.list-wrap ul li .postWriter {
  font-size: 14px;
  color: #585858;
  margin-top: 10px;
}
.list-wrap ul li:nth-child(3n) {
  margin-right: 0;
}
.list-wrap .btn-wrap {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: right;
  flex-wrap: wrap;
  width: 980px;
  margin-top: 56px;
}