@keyframes moveFinder {
    0% {
        transform: translate(-500px, 400px);
        opacity: 0;
    }
    50% {
        transform: translate(0, 0);
        opacity: 1;
    }
    100% {
        transform: scale(1.2);
    }
}
@keyframes dissolve {
    0%,
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes moveLoginLogo {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes moveUpTag {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(-100%);
    }
}
@keyframes moveDownTag {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(+100%);
    }
}
@keyframes marquee {
    from {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }
    99%,
    to {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}
@keyframes bounce {
    0% {
        bottom: 35px;
    }
    50% {
        bottom: 50px;
    }
    100% {
        bottom: 35px;
    }
}
@keyframes fillBar {
    from {
        width: 0%;
    }
    99%,
    to {
        width: 100%;
    }
}
@keyframes topConObj_1 {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(20px);
    }
}
@keyframes distress {
    0% {
        background-position: 0% center;
    }
    100% {
        background-position: 100% center;
    }
}
@keyframes distress {
  0% {
      background-position: 0% center;
  }
  100% {
      background-position: 100% center;
  }
}