@import 'style';
// 프로젝트 현황, 주간업무보고, 게시판

// 프로젝트 현황 select
.status {
  background-color: $subBlue;
  color: $gray02;
  width: 300px;
  padding: 4px 16px;
  border-radius: 8px;
  .selectVal {
    cursor: pointer;
    font-size: 14px;
    @include flex-style($justifyVal: space-between);
  }
  .selectOptGroup {
    position: absolute;
    background-color: $subBlue;
    width: 300px;
    transform: translateX(-16px) translateY(12px);
    border-radius: 8px;
    > .selectOpt {
      cursor: pointer;
      font-size: 14px;
      padding: 11px 16px;
      &:hover {
        color: $mainColor;
      }
      &.active {
        color: $black;
        &::before {
          content: '';
          border-left: 3px solid $mainColor;
          margin-right: 16px;
        }
      }
    }
  }
}
