@import './style';
// 프로젝트 현황, 주간 업무 보고, 게시판

.selectArea {
  width: 980px;
  height: 254px;
  padding: 40px 60px 15px;
  box-shadow: 0 0 3px 1px $footerColor;
  border-radius: 16px;
  span {
    @include txt-style(14px, $gray01);
    width: 113px;
  }
  hr {
    width: 100%;
    height: 1px;
    border: none;
    background-color: $footerColor;
  }
  input {
    font-size: 14px;
    width: 300px;
    height: 32px;
    background-color: $subBlue;
    border-radius: 8px;
    padding: 6px 16px;
  }
  > .row {
    width: 860px;
    &.btnWrap {
      margin-top: 15px;
      position: relative;
    }
    .commonBtn {
      width: 94px;
      height: 47px;
      padding: 12px;
      &.searchBtn {
        background-color: $gray02;
        margin-right: 32px;
      }
      &.resetBtn {
        background-color: white;
        border: 1px solid $gray02;
        color: $gray02;
      }
      &.applyBtn {
        position: absolute;
        right: 0;
      }
    }
    > .row {
      padding: 15px 0;
      &:first-child::after {
        content: '.';
        color: transparent;
        border-right: 1px solid $footerColor;
        margin: 0 13px;
      }
    }
  }
}

.table-wrap {
  width: 980px;
  height: 360px;
  box-shadow: 0 0 3px 1px $footerColor;
  border-radius: 16px;
  margin-top: 84px;
  padding: 20px 16px;
  text-align: center;
  > .table {
    width: 948px;
    border-radius: 8px;
    background-color: $subBlue;
    > table {
      width: 100%;
      border-collapse: collapse;
      border-style: hidden;
      th {
        font-size: 14px;
        color: $gray01;
        padding: 10px 0;
      }
      .odd {
        td {
          background-color: $subTableColor;
        }
      }
      .even {
        td {
          background-color: $tableColor;
        }
      }
      td {
        font-size: 14px;
        padding: 18px 0;
      }
    }
  }
}
.project {
  height: 140vh;
  hr {
    width: 100%;
    height: 1px;
    border: none;
    background-color: $footerColor;
  }
  .btn-wrap {
    margin-top: 60px;
    .commonBtn {
      background-color: $mainColor;
      &.listBtn {
        background-color: $gray02;
      }
    }
  }
}

.projectWrapper {
  width: 980px;
  min-height: 773px;
  box-shadow: 0 0 3px 1px $footerColor;
  border-radius: 16px;
  padding: 40px 60px;
  &.detail {
    padding: 0 40px 60px;
    .projectTitle {
      @include txt-style(18px, $black);
      transform: translateX(-40px);
      width: 980px;
      height: 59px;
      border-top-left-radius: 16px;
      border-top-right-radius: 16px;
      background-color: $subBlue;
      padding: 17px 80px;
      margin-bottom: 32px;
    }
    .projectInfo {
      > .row {
        width: 100%;
        > div {
          &.projectDate {
            width: 747px;
            padding: 6px 16px;
            background-color: $subBlue;
            border-radius: 8px;
          }
          &.row {
            width: auto;
            .date-start,
            .date-end {
              background-color: $subBlue;
              width: 300px;
              border-radius: 8px;
              height: 32px;
              padding: 6px 16px;
            }
          }
        }
      }
      .content {
        transform: translateX(-40px);
        width: 100%;
        margin: 32px 0;
        height: 250px;
        max-height: 250px;
        overflow-y: auto;
        padding: 10px 60px;
      }
    }
  }
  .projectInfo {
    margin-bottom: 32px;
    width: 100%;
    input {
      background-color: $subBlue;
    }
    > .row {
      padding: 13px 0;
      span {
        @include txt-style(14px, $gray01);
        width: 113px;
      }
      input {
        height: 32px;
        border-radius: 8px;
        padding: 6px 16px;
      }
      &.makeProjectDate {
        input {
          width: 747px;
        }
      }
      &.date {
        input {
          width: 300px;
        }
      }

      .start::after {
        content: '|';
        color: transparent;
        border-right: 1px solid $footerColor;
        margin: 0 13.5px;
      }
    }
  }
  .peopleWrap {
    margin-top: 32px;
    width: 100%;
    justify-content: space-between;
    .row {
      @include txt-style(14px, $black);
      justify-content: flex-start;
      width: calc(100% - 97px);
      .personBtn {
        @include flex-style();
        background-color: $subBlue;
        width: 95px;
        padding: 6px 16px;
        height: 32px;
        border-radius: 16px;
        color: black;
        margin-right: 16px;
        &:last-child {
          margin-right: 0;
        }
        img {
          margin-left: 8px;
          cursor: pointer;
        }
      }
    }
  }
  .quill {
    height: 400px;
    margin-bottom: 73px;
  }
  .projectSetting {
    width: 100%;
    align-items: flex-start;
    span {
      @include txt-style(14px, $gray01);
      width: 97px;
    }
    > .row {
      &:last-child {
        margin-top: 16px;
      }
      &.statusSelect {
        padding: 32px 0;
      }
    }
  }
  .addPersonBtn {
    background-color: $mainColor;
    color: white;
    padding: 4px 32px;
    border-radius: 8px;
    margin-left: 16px;
  }
}
